<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite">
<listeners>
<listener class-name="practice2.Listener"></listener>
</listeners>
  <test thread-count="5" name="Test">
  
  <parameter name="url" value="www.google.com"/>
  <parameter name="username" value="suprit"/>
  <parameter name="password" value="ballurgi"/>
  	<groups>
  	 <run>
  	  <include name = "Smoke"/>
  	  <include name = "Regression"/>
  	 </run>
  	</groups>
    <classes>
      <class name="practice2.testNgPara"/>
      <class name="practice2.testDemo"/>
      <class name="practice2.testResult"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
